.StrongDetail {
  display: flex;
  flex-direction: column;
  background-color: pink;
  margin: 50px;
}

.StrongDetail h2 {
  text-decoration: underline;
  font-size: 20px;
}

.StrongDetail p {
  padding: 10px;
}

.StrongDetail button.delete {
  background: 0;
  border: 0;
  text-decoration: underline;
  color: blue;
  font-size: .9rem;
  cursor: pointer;
}