.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background: url('./../galaxy.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


